.input {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.input.is-outstanding {
    font:var( --subtitle1) ;
}

.input-body{
    display: flex;
    flex: 1;
}

.input input,
.input textarea{
    flex: 1;
    font: var(--body1-regular);
    padding-inline: 0.75rem;
    padding-block: 0.625rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

.input input:focus,
.input input:hover,
.input textarea:focus,
.input textarea:hover{
    background-color: var(--gray10);
}

.input i{
    font-size: 1.5rem;
}

.input input:focus,
.input textarea:focus{
    box-shadow: 0 2px 0 var(--blue10);
}

