.page{
    display: grid;
    grid-template-columns: 16.25rem 1fr;
    grid-template-rows: 6rem 1fr;
    block-size: 100vh;
    grid-template-areas: "header header" "sidebar calendar";
}

.page .header{
    grid-area: header;
}

.page .sidebar{
    grid-area: sidebar;
    border: solid 10px red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .calendar{
    grid-area: calendar;
}