.search{
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 2.5rem;
    background: var(--gray10);
}

.search:hover,
.search:focus-within{
    border-block-end: solid 2px var(--blue10);
}


.searchInput{
    padding: 0;
    border: none;
    background: none;
    outline: none;
    line-height: 1.25rem;
}

.searchIcon{
    text-decoration: none;
    margin-inline-start: 1rem;
    margin-inline-end: 0.5rem;
    color: var(--gray50);

}


